:root {
    --color-primary: #61bc84;
    --color-secondary: #2d2d2d;
    --color-tertiary: #e0e0e0;
    --color-quaternary: #2E8B57;

    --font-body: "Switzer", sans-serif;
    --font-headings: "Gambarino", sans-serif;

    --space: 1.5rem;
}

::selection {
    background-color: var(--color-accent);
    color: var(--color-primary);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-secondary);
    min-height: 100vh;
    min-height: 100dvh;
    font-family: var(--font-body);
    font-size: 1.6rem;
}

body {
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 50em;
    margin: 0 auto;
    padding-inline: var(--space);
}

h2 {
    margin: 0;
    padding: var(--space);
    padding-bottom: 0;
    color: var(--color-primary);
    font-family: var(--font-headings);
    font-size: 1.8rem;
}

.comment-list {
    margin: 0;
    padding: var(--space);
    list-style: none;
}

.comment {
    margin-top: 0;
    margin-bottom: var(--space);
    padding: var(--space);
    color: var(--color-tertiary);
    border: 2px solid var(--color-primary);
}

.comment-meta {
    display: flex;
    justify-content: space-between;
    color: var(--color-primary);
    margin-block: 0 var(--space);
}

.comment-body {
    text-align: justify;
    margin: 0;
}

.divider {
    margin-inline: auto;
    width: 50%;
    height: 2px;
    background-color: var(--color-primary);
}

.form {
    padding: var(--space);
}

[class^="form-"] {
    padding: var(--space);
    margin-bottom: var(--space);
    width: 100%;
    font-family: inherit;
    display: block;
    background: transparent;
    color: var(--color-tertiary);
    border: 2px solid var(--color-primary);
    font-size: inherit;
}

[class^="form-"]::placeholder {
    color: var(--color-primary);
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: var(--space);
}

[class^="button-"] {
    padding: var(--space);
    background: transparent;
    cursor: pointer;
    border: 2px solid var(--color-primary);
    text-decoration: none;
    color: var(--color-primary);
    font-family: inherit;
    font-size: inherit;
}

.button-reset {
    color: var(--color-tertiary);
    border-color: currentColor;
}

[class^="form-"]:focus,
[class^="button-"]:focus {
    outline: 2px solid transparent;
}
